/* .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.footerLinks {
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-link {
 padding: 2em;
}